#container {
  border: 1px solid black;
}

.card-1,
.card-2 {
  background-color: white;
  height: 100px;
  width: 100px;
  border: 1px solid black;
}

.flip {
  background-color: red;
  transform: rotateY(180deg);
  transition: transform 1s linear, background-color 0s .5s;
}

.matched {
  pointer-events: none;
  opacity: .5;
}
