#container {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  grid-gap: 10px 10px;
  place-items: center;
  justify-content: stretch;
  box-sizing: border-box;
  padding: 10px;
  margin: auto;
  width: 100%;
  max-width: 475px;
}

@media screen and (min-width: 550px) {
  #container {
    background-color: white;
  }
}

.widgets {
  display: flex;
  justify-content: space-around;
}

#star-rating {
  display: flex;
}

.card {
  max-height: 100px;
  max-width: 100px;
  height: 100%;
  width: 100%;
  padding-bottom: 100%;
  box-sizing: border-box;
  content: "";
  background-size: cover;
  background-color: black;
  background-image: url("");
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

.pair-1.flipped {
  background-image: url("/img/building-300px-1.png");
  background-color: red;
}

.pair-2.flipped {
  background-image: url("/img/building-300px-2.png");
  background-color: blue;
}

.pair-3.flipped {
  background-image: url("/img/building-300px-3.png");
  background-color: green;
}

.pair-4.flipped {
  background-image: url("/img/building-300px-4.png");
  background-color: white;
}

.pair-5.flipped {
  background-image: url("/img/building-300px-5.png");
  background-color: black;
}

.pair-6.flipped {
  background-image: url("/img/building-300px-6.png");
  background-color: yellow;
}

.pair-7.flipped {
  background-image: url("/img/building-300px-7.png");
  background-color: purple;
}

.pair-8.flipped {
  background-image: url("/img/building-300px-8.png");
  background-color: pink;
}

.flipped {
  transform: rotateY(180deg);
  box-shadow: -2px 2px 2px gray;
  transition: transform 1s linear, background-image 0s .5s, background-color 0s .5s, box-shadow .5s .5s;
}

.matched {
  pointer-events: none;
  opacity: .5;
}

.star {
  height: 20px;
  width: 20px;
  background-color: black;
  margin: 3px;
}

.lost {
  background-color: white;
  border: solid black 1px;
}
