#container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-gap: 1rem;
  width: 75%;
  max-width: 550px;
  margin: auto;
  padding: 1rem 0;
}

.widgets {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#star-rating {
  display: flex;
}

.head {
  font-family: 'BioRhyme Expanded', serif;
  font-size: 1em;
  text-align: center;
}

@media screen and (min-width: 450px) {
  .head {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 600px) {
  .head {
    font-size: 2em;
  }
}

.card {
  height: 100px;
  width: 100px;
  box-sizing: border-box;
  background-size: cover;
  background-color: black;
  background-image: url("");
  border-radius: 5px;
  box-shadow: 2px 2px 2px gray;
}

.pair-1.flipped {
  background-image: url("/img/building-300px-1.png");
  background-color: red;
}

.pair-2.flipped {
  background-image: url("/img/building-300px-2.png");
  background-color: blue;
}

.pair-3.flipped {
  background-image: url("/img/building-300px-3.png");
  background-color: green;
}

.pair-4.flipped {
  background-image: url("/img/building-300px-4.png");
  background-color: white;
}

.pair-5.flipped {
  background-image: url("/img/building-300px-5.png");
  background-color: black;
}

.pair-6.flipped {
  background-image: url("/img/building-300px-6.png");
  background-color: yellow;
}

.pair-7.flipped {
  background-image: url("/img/building-300px-7.png");
  background-color: purple;
}

.pair-8.flipped {
  background-image: url("/img/building-300px-8.png");
  background-color: pink;
}

.flipped {
  transform: rotateY(180deg);
  box-shadow: -2px 2px 2px gray;
  transition: transform 1s linear, background-image 0s .5s, background-color 0s .5s, box-shadow .5s .5s;
}

.matched {
  pointer-events: none;
  opacity: .5;
}

.star {
  height: 20px;
  width: 20px;
  background-color: black;
  margin: 3px;
}

.lost {
  background-color: white;
  border: solid black 1px;
}
